<%--
  Created by IntelliJ IDEA.
  User: dtruo
  Date: 29-Dec-15
  Time: 5:00 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title>The Free Music-Box Website Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="layout" content="main"/>
    <script type="text/javascript">
        $(function() {
            $('#dg-container').gallery({
                autoplay	:	true
            });
        });
    </script>
</head>

<body>
<div class="content-bg">
    <div class="wrap">
        <div class="main">
            <div class="content">
                <h2>${album.name}</h2>
                <div class="section group">
                    <div class="cont">
                        <div class="single">
                            <div class="grid-img1">
                                <a href="${album.image.path}"><img src="${album.image.path}"></a>
                            </div>
                            <div class="para">
                                <p><h4>${album.name} - ${album.singer.name}</h4></p>

                            </div>
                            <div class="sm2-bar-ui playlist-open full-width">

                                <div class="bd sm2-main-controls">

                                    <div class="sm2-inline-texture"></div>
                                    <div class="sm2-inline-gradient"></div>

                                    <div class="sm2-inline-element sm2-button-element">
                                        <div class="sm2-button-bd">
                                            <a href="#play" class="sm2-inline-button play-pause">Play / pause</a>
                                        </div>
                                    </div>

                                    <div class="sm2-inline-element sm2-inline-status">

                                        <div class="sm2-playlist">
                                            <div class="sm2-playlist-target">
                                                <!-- playlist <ul> + <li> markup will be injected here -->
                                                <!-- if you want default / non-JS content, you can put that here. -->
                                                <noscript><p>JavaScript is required.</p></noscript>
                                            </div>
                                        </div>

                                        <div class="sm2-progress">
                                            <div class="sm2-row">
                                                <div class="sm2-inline-time">0:00</div>
                                                <div class="sm2-progress-bd">
                                                    <div class="sm2-progress-track">
                                                        <div class="sm2-progress-bar"></div>
                                                        <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
                                                    </div>
                                                </div>
                                                <div class="sm2-inline-duration">0:00</div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="sm2-inline-element sm2-button-element sm2-volume">
                                        <div class="sm2-button-bd">
                                            <span class="sm2-inline-button sm2-volume-control volume-shade"></span>
                                            <a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
                                        </div>
                                    </div>

                                    <div class="sm2-inline-element sm2-button-element">
                                        <div class="sm2-button-bd">
                                            <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
                                        </div>
                                    </div>

                                    <div class="sm2-inline-element sm2-button-element">
                                        <div class="sm2-button-bd">
                                            <a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
                                        </div>
                                    </div>

                                    <div class="sm2-inline-element sm2-button-element sm2-menu">
                                        <div class="sm2-button-bd">
                                            <a href="#menu" class="sm2-inline-button menu">menu</a>
                                        </div>
                                    </div>

                                </div>

                                <div class="bd sm2-playlist-drawer sm2-element">

                                    <div class="sm2-inline-texture">
                                        <div class="sm2-box-shadow"></div>
                                    </div>

                                    <!-- playlist content is mirrored here -->

                                    <div class="sm2-playlist-wrapper">

                                        <ul class="sm2-playlist-bd">
                                            <g:each in="${nca.Song.findAllByAlbum(album)}" >
                                                <li><a href="${it.path}"><b>${it.singer.name}</b> - ${it.name}<span class="label">Explicit</span></a></li>
                                            </g:each>
                                        </ul>

                                    </div>

                                    <div class="sm2-extra-controls">

                                        <div class="bd">

                                            <div class="sm2-inline-element sm2-button-element">
                                                <a href="#prev" title="Previous" class="sm2-inline-button previous">&lt; previous</a>
                                            </div>

                                            <div class="sm2-inline-element sm2-button-element">
                                                <a href="#next" title="Next" class="sm2-inline-button next">&gt; next</a>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="text-h1 top">
                            <h2>Xem các album khác</h2>
                        </div>
                        <div class="div2">
                            <div id="mcts1">
                                <g:each in="${nca.Album.getAll()}">
                                    <div class="item" style="display: block; float: left;">
                                        <a href="${createLink(controller: 'play', action: 'album', id: it.id)}"><img src="${it.image.path}" alt=""/> </a>
                                    </div>
                                </g:each>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="sidebar-list">
                    <h2>Categories</h2>
                    <ul>
                        <ul>
                            <g:each in="${nca.Album.getAll()}">
                                <li><a href="${createLink(controller: 'play', action: 'album', id: it.id)}">${it.name} - ${it.singer.name}</a></li>
                            </g:each>
                        </ul>

                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>