/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body {
	 font-family:"arial", verdana Helvetica, sans-serif;
}
.wrap{
	width: 80%;
	margin: 0 auto;
}
/*menu-bg*/
.menu-bg,.footer-bg{
	background: rgb(51,51,51); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(51,51,51,1) 25%, rgba(34,34,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(51,51,51,1)), color-stop(100%,rgba(34,34,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(51,51,51,1) 25%,rgba(34,34,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(51,51,51,1) 25%,rgba(34,34,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(51,51,51,1) 25%,rgba(34,34,34,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(51,51,51,1) 25%,rgba(34,34,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}
.menu{
	float:left;
}
.nav {
    clear: both;
    font-size: 12px;
    padding:0px;
    position: relative;
    z-index: 999;
}
.nav li:nth-child(1){
	 border-left: 1px ridge rgb(68, 68, 68);
}
.nav li {
    float: left;
    position: relative;
    border-right: 1px ridge rgb(68, 68, 68);
}
.nav li.active{
	background: url('../images/nav-bg.png');
}
.nav li a {
	letter-spacing:1px;
	font-family: 'Julius Sans One', sans-serif;
	color: #FFFFFF;
	font-size: 1.24em;
	display: block;
	float: left;
	font-weight: normal;
	padding: 18px 20px;
	position: relative;
	text-decoration: none;
}
.nav li:hover > a {
    color: #fefefe;
}
.nav li:hover, .nav a:focus, .nav a:hover, .nav a:active{
	background: #029DA7;
    outline: 0 none;
}
/*---soc-icons---*/
.soc-icons{
	margin-top:0.4%;
	float: right;
}
.soc-icons ul li{
	vertical-align:middle;
	display: inline-block;
} 
.soc-icons ul li a{
	color:#fff;
	font-size:1em;
	font-family: 'Julius Sans One', sans-serif;
	display: block;
} 
.soc-icons ul li a img:hover{
	opacity: 0.6;
}
/*header*/
.header-bg{
	background: url('../images/header.png');
}
.logo{
	float:left;
}
.foot-search {
	float:right;
	width:46%;
	margin-top: 2%;
}
.foot-search form{
	width:100%;
}
.foot-search input[type="text"] {
	font-size: 12px;
	width: 36.33%;
	outline: none;
	padding: 10px;
	-webkit-appearance: none;
	border: 1px solid #cdcdd2;
	background: #f7f7f9;
	color: #b0b0b2;
}
.foot-search input[type="submit"] {
	font-family: 'Julius Sans One', sans-serif;
	background: url('../images/btn.png') repeat-x 0 0 #10696E;
	border: none;
	padding: 10px;
	color: #fff;
	cursor: pointer;
	font-size:0.98em;
	text-transform:capitalize;
}
.foot-search input[type="submit"]:hover{
	background-position: 0 -32px;
	text-decoration: none !important;
	-webkit-transition: background .2s ease;
	-moz-transition: background .2s ease;
	-ms-transition: background .2s ease;
	-o-transition: background .2s ease;
	transition: background .2s ease;
}
.shopping_cart{
	float:right;
	width: 18.33%;
	margin-top:2%;
	position:relative;
	padding: 0 0 0 46px;
	background: url(../images/header_cart.png) 0 0 no-repeat;
	z-index: 99;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor:pointer;
}
.cart{
	height: 38px;
	padding: 0 0 0 10px;
	background: #EDEDED;
	border: 1px solid #CECECE;
	border-left: none;
	line-height: 36px;
	-webkit-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.shopping_cart .cart .opencart {
	width: 7px;
	height: 5px;
	display: block;
	/*background: url(../images/header_arrow.png) 0 0 no-repeat;*/
	position: absolute;
	right: 11px;
	top: 19px;
}
.shopping_cart span.cart_title{
	font-size:13px;
	font-weight:bold;
	color: #4F4F4F;
}
.shopping_cart span.no_product{
	font-size:1em;
	font-weight:bold;
	color: #10696E;
}
.wrapper-dropdown.active .dropdown{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	max-height: 400px;
	width: 95px;
	z-index: 1;
	background: #70389C;
}
/*slider*/
.slider-bg{
	background: #eaeaea;
	border-top: 1px solid rgb(223, 223, 223);
}
/*--Slider--*/
.container{
	margin-top: 6%;
}
.dg-container{
	width: 100%;
	height: 400px;
	position: relative;
	background: url(../images/h-bg.png);
}
.dg-wrapper{
	width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 482px;
	height: 316px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url('../images/browser.png') no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
/*end slider*/
/*content*/
.content-bg{
	background: #e0e0e0;
	padding: 4% 0 0;
}
.main{
	background:#ffffff;
	box-shadow: 0px 0px 6px #999;
}
.content{
	width:74.33%;
	float: left;
	margin-right: 3.33%;
}
.sidebar{
	float: right;
	width:21.33%;
}
/*  GRID OF THREE   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid_1_of_3{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.images_1_of_3 {
	width: 15.2%;
	padding:1.5%; 
}
.images_1_of_3  img ,.images_3_of_1 img ,.images_1_of_2 img ,.det-pic img,.item img,.grid-img1 img{
	cursor:pointer;
	background: #fff;
	padding: 4px;
	box-shadow: 0px 0px 10px #999;
	max-width:100%;
	display:block;
}
.images_1_of_3  img:hover,.images_3_of_1 img:hover,.images_1_of_2 img:hover,.det-pic img:hover,.item img:hover,.grid-img1 img:hover{
	background: rgb(36, 148, 155);
}
.images_1_of_3  h3,.span_2_of_3  h3,.det-para h3,.images_1_of_2  h3,.contact_info h3,.company_address h3 ,.span_2_of_4  h3,.single h3{
	color:#10696E;
	margin-top:0.8em;
	margin-bottom:0.3em;
	font-size:1.1em;
	text-transform: uppercase;
}
.images_1_of_3  p ,.span_2_of_3  p,.det-para p,.images_1_of_2  p,.single p{
	font-size:0.8425em;
	padding:0.2em 0 0.8em; 
	color: #555;
	line-height: 1.8em;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:90%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
	
	.wrap{
		width:95%;
	}
	.grid_1_of_3{ 
		margin: 2% 0 2% 0%;
	}
	
	.images_1_of_3 {
		width:94%;
		padding:3%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.grid_1_of_3{ 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_3 {
		width:92%;
		padding:4%;
	}
}
/*content-style*/
.content h2{
	background: rgb(11,163,173); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(11,163,173,1) 0%, rgba(12,159,168,1) 19%, rgba(16,105,110,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(11,163,173,1)), color-stop(19%,rgba(12,159,168,1)), color-stop(100%,rgba(16,105,110,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(11,163,173,1) 0%,rgba(12,159,168,1) 19%,rgba(16,105,110,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(11,163,173,1) 0%,rgba(12,159,168,1) 19%,rgba(16,105,110,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(11,163,173,1) 0%,rgba(12,159,168,1) 19%,rgba(16,105,110,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(11,163,173,1) 0%,rgba(12,159,168,1) 19%,rgba(16,105,110,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ba3ad', endColorstr='#10696e',GradientType=0 ); /* IE6-9 */
	padding: 1.5%;
	text-align:left;
	font-size:1.8em;
	color: #fff;
	font-family: 'Julius Sans One', sans-serif;
}
.content h2.bg ,.text-h1 h2{
	background: rgb(119,119,119); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(119,119,119,1) 0%, rgba(102,102,102,1) 66%, rgba(85,85,85,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(119,119,119,1)), color-stop(66%,rgba(102,102,102,1)), color-stop(100%,rgba(85,85,85,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(102,102,102,1) 66%,rgba(85,85,85,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(102,102,102,1) 66%,rgba(85,85,85,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(119,119,119,1) 0%,rgba(102,102,102,1) 66%,rgba(85,85,85,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(119,119,119,1) 0%,rgba(102,102,102,1) 66%,rgba(85,85,85,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#555555',GradientType=0 ); /* IE6-9 */
}
.price{
	font-size:1em;
	color:#444;
}
.price sub{
	font-size:0.8em;
}
.btn{
	margin:12% 0 6%;
}
.btn a,.btn1 a,.span_2_of_3 .button a,.s-para .button a,.images_1_of_2 .button a,.contact-form input[type="submit"],.det-para .button a {
	font-size:0.84em;
	background: url('../images/btn.png') repeat-x 0 0 #10696E;
	border: none;
	padding: 8px;
	color: #fff;
	cursor: pointer;
	text-transform: capitalize;
}
.btn a:hover,.btn1 a:hover,.span_2_of_3 .button a:hover,.s-para .button a:hover,.images_1_of_2 .button a:hover,.contact-form input[type="submit"]:hover,.det-para .button a:hover{
	background-position: 0 -32px;
	text-decoration: none !important;
	-webkit-transition: background .2s ease;
	-moz-transition: background .2s ease;
	-ms-transition: background .2s ease;
	-o-transition: background .2s ease;
	transition: background .2s ease;
}
/*sidebar*/
.sidebar h2{
	margin:3% 0;
	padding: 1.5%;
	text-align: left;
	font-size: 1.8em;
	color: #10696E;
	font-family: 'Julius Sans One', sans-serif;
}
.sidebar-list ul{
	margin-top: 4%;
}
.sidebar-list ul li{
	display: inherit;
	line-height: 2.0em;
}
.sidebar-list ul li a{
	padding:4px;
	display:block;
	font-size:0.9em;
	color:#555;
	text-transform:capitalize;
	border-bottom: 1px solid #ededed;
}
.sidebar-list ul li a:hover{
	color: #10696E;
	background: rgb(235, 235, 235);
}
/*footer-style*/
/*  GRID OF Four   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.grid_1_of_4:first-child { 
	margin-left: 0; 
} 
.images_1_of_4 {
	width: 20.8%;
	padding:1.5%; 
}
.images_1_of_4 p a img{
	float: left;
	margin-right: 4%;
	margin-top: 1.6%;
}
.images_1_of_4  h3{
	padding: 1.5%;
	margin-bottom:4%;
	text-align: left;
	font-size: 1.8em;
	color: #fff;
	font-family: 'Julius Sans One', sans-serif;
}
.images_1_of_4  p {
	font-size: 0.8425em;
	color: rgba(219, 251, 255, 0.5);
	line-height: 1.8em;
}
.images_1_of_4  p a{
	font-size: 0.9em;
	color: rgba(219, 251, 255, 0.5);
	line-height: 1.6em;
	vertical-align: top;
}
.top{
	margin-top: 4%;	
}
.f-nav li{
	display:inline;
}
.f-nav li img{
	margin-right:8px;
	vertical-align: middle;
}
.f-nav li img:hover{
	opacity: 0.6;
}
.f-nav li a{
	display:block;
	font-size: 0.8425em;
	color:  rgba(219, 251, 255, 0.5);
	line-height: 3.6em;
}
.f-nav li a:hover,.images_1_of_4  p a:hover{
	color:rgb(7, 134, 141);
	text-decoration:none;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:90%;
	}
	span.text {
		font-size: 0.9em;
	}
	.price {
		font-size: 0.9em;
	}
	.foot-search {
		width: 30%;
	}
	.shopping_cart {
		width: 24.33%;
	}
}
@media only screen and (max-width: 800px) {
	.wrap{
		width:90%;
	}
	.foot-search {
		width: 30%;
	}
	.shopping_cart {
		width: 24.33%;
	}
	span.text {
		font-size: 0.9em;
	}	
	.price {
		font-size: 0.9em;
	}
	.nav li a {
		padding: 18px 8px;
		font-size: 0.9em;
	}
	.soc-icons ul li a {
		font-size: 0.8em;
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
	
	.wrap{
		width:95%;
	}
	.grid_1_of_4{ 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_4 {
		width:94%;
		padding:3%;
	}
	span.text {
		font-size: 0.9em;
	}	
	.price {
		font-size: 0.9em;
	}
	.nav li:nth-child(2){
		display:none;
	}
	.nav li a {
		padding: 18px 8px;
		font-size: 0.9em;
	}
	.soc-icons ul li a {
		font-size: 0.8em;
	}
	.foot-search {
		float: none;	
		width: 100%;
	}
	.cart {
		float: none;
	}
	.shopping_cart {
		width: 100%;
		margin-top: 0;
	}
	.foot-search input[type="text"] {
		font-size: 12px;
		width: 76.33%;
	}
	.header{
		margin-top: -2%;
	}
	.content{
		float: none;
		width:100%;
	}
	.sidebar{
		float: none;
		width: 100%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.grid_1_of_4{ 
		margin: 2% 0 2% 0%;
	}	
	.images_1_of_4 {
		width:92%;
		padding:4%;
	}
	span.text {
		font-size: 0.9em;
	}	
	.price {
		font-size: 0.9em;
	}
	.nav li a {
		padding: 18px 8px;
		font-size: 0.9em;
	}
	.nav li:nth-child(3){
		display: none;
	}
	.soc-icons ul li a {
		font-size: 0.8em;
	}
	.foot-search {
		float: none;	
		width: 100%;
	}
	.cart {
		float: none;
	}
	.shopping_cart {
		width: 100%;
		margin-top: 0;
	}
	.foot-search input[type="text"] {
		font-size: 12px;
		width: 74.33%;
	}
	.header{
		margin-top: -2%;
	}
	.content{
		float: none;
		width:100%;
	}
	.sidebar{
		float: none;
		width: 100%;
	}
	.images_1_of_4 p:nth-child(2){
		display: none;
	}
}
/*footer1*/
.footer1-bg{
	background:rgb(43, 43, 43);
}
.copy{
	padding: 30px 0;
	text-align: center;
}
.copy p{
	font-size: 0.812em;
	color:#fff;
}
.copy p a{
	color:#10696E;
}
.copy p a:hover{
	text-decoration: underline;	
}
/*specials*/
/*  GRID OF Content with Image   ============================================================================= */
.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	padding:1.5%;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid {
	display: block;
	float:left;
	margin: 0% 0 0% 1.6%;
}
.grid:first-child { margin-left: 0; }

.images_3_of_1 {
	width:17.2%;
}
.span_2_of_3{
	width: 78.1%;
}
.images_3_of_1  img {
	max-width:100%;
	display:block;
}
.span_2_of_3  h3{
	margin-top: 0;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:90%;
	}	
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px){
	.wrap{
		width:95%;
	}
	.image{
		padding:3%;
	}
	.grid {
		margin:0;
	}	
	.images_3_of_1 {
		width:100%;	
		padding:2% 0 2% 0;	
	}
	.span_2_of_3 {
		width:100%;
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.image{
		padding:4%;
	}
	.grid {
		margin:0;
	}	
	.images_3_of_1 {
		width:100%;
		padding:2% 0 2% 0;		
	}
	.span_2_of_3 {
		width:100%;
	}
}
/*music*/
.select{
	padding: 1.5%;
}
/*  GRID OF TWO   ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.grid_1_of_2{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.grid_1_of_2:first-child {
	 margin-left: 0;
} 
.images_1_of_2 {
	width: 15.2%;
	padding:1.5%;
}
.images_1_of_2  img {
	max-width:100%;
}
.grid_1_of_2 .button{
	margin-top: 10%;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:90%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
		
.wrap{
		width:95%;
	}
	.grid_1_of_2{ 
		margin: 2% 0 2% 0%;
	}
	
	.images_1_of_2 {
		width:94%;
		padding:3%;
	}
	
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	
	.wrap{
		width:95%;
	}
	.images_1_of_2  h2 {
		color:#E26D2B;
	}
	.grid_1_of_2{ 
		margin: 2% 0 2% 0%;
	}
	
	.images_1_of_2 {
		width:92%;
		padding:4%;
	}
}
/*contact*/
/*  Contact Form  ============================================================================= */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child{
	margin-top:0;
	margin-left:0;
}	
.span_2_of_4 {
	width: 63.1%;
	padding:0 1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
.contact-form{
	position:relative;
	margin-top: 3%;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	padding-bottom:5px;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
    padding:8px;
	display:block;
	width:98%;
	background:rgb(243, 243, 243);
	border: none;
	outline:none;
	color:#555;
	font-size:0.8125em;
	box-shadow: inset 0px 0px 2px rgba(139, 139, 139, 0.85);
	-webkit-box-shadow: inset 0px 0px 2px rgba(139, 139, 139, 0.85);
	-moz-box-shadow: inset 0px 0px 2px rgba(139, 139, 139, 0.85);
	-o-box-shadow: inset 0px 0px 2px rgba(139, 139, 139, 0.85);
	-webkit-appearance:none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	font-size:1em;
	padding:7px 20px;
	cursor:pointer;
    position:absolute;
    right:0;
}
.company_address{
	padding-top:0px;
}
.company_address h3{
	margin-bottom: 2%;
}
.company_address p{
	font-size:0.8425em;
	color: #555;
	line-height: 1.8em;
}
.company_address p span{
	text-decoration:underline;
	color:#555;
	cursor:pointer;
}
.company_address p span:hover{
	color: #10696E;
}
.map{
	border:1px solid #C7C7C7;
	margin-top:6%;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
	#nav li {
		width: 18.77%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
	#nav li:nth-child(2){
		display:none;
	}
	.soc-icons {
		margin-top: 0.6%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
	#nav li a{
		font-size:1em;
	}
	#nav li {
		width: 23.77%;
	}
	.soc-icons li:nth-child(3),.soc-icons li:nth-child(4){
		display: none;
	}
	.soc-icons {
		margin-top: 0.6%;
	}
}
/*404*/
.page{
	text-align:center;
	padding-bottom: 3%;
}
.page h2{
	font-family: 'Julius Sans One', sans-serif;
	font-size:10em;
	color: #10696E;
}
/*details*/
.single{
	padding: 3.5% 1.5% 0;
}
.grid-img1 {
	padding: 10px;
	border: 1px solid rgba(12, 111, 119, 0.18);
	float: left;
	margin-right: 2%;
}
.para {
	float: left;
	width: 71.33%;
}
.para h4{
	font-size: 1.4em;
	color:#555;
}
.cart-b {
	margin: 3% 0;
	border-top: 1px solid rgba(85, 85, 85, 0.15);
	border-bottom: 1px solid rgba(85, 85, 85, 0.15);
}
.right{
	float: right;
}
.left{
	float:left;
	margin-top: 2%;
}
.btn1{
	margin:2% 0 2.4%;
}
/*details page slider*/
#mcts1 
{
    width:100%;
    height:250px;
    margin: 0 auto;
    /* Do not alter the below settings */
    white-space:nowrap;
    position:relative;
    font-size:0px;
}
#mcts1>* {display:none;}
  
/*-------- div.item is each thumbnail's wrapper created by the javascript ------*/
#mcts1 div.item{
    padding:12px;
    margin-right:6px; /* this specifies the distance between each thumbnail */
    background-color:#fff;
    text-align:center;
    position:relative;
}
#mcts1 img{
    border:none;
}
/*---------built-in navigation buttons-------*/
#mcts1 .navPrev, #mcts1 .navNext, #mcts1 .navPlay, #mcts1 .navPause{
    width:16px; height:22px; position:absolute;  
    background:url(navButtons.png); 
    display:inline-block; z-index:5; cursor:pointer;
}
#mcts1 .navPrev {background-position:0 -22px;top:60px;left:-40px;}
#mcts1 .navPrev:hover {background-position:0 -44px;}
#mcts1 .navPrevDisabled, #mcts1 .navPrevDisabled:hover {background-position:0 0;cursor:default;}

#mcts1 .navNext {background-position:-16px -22px;top:60px;right:-40px;} 
#mcts1 .navNext:hover {background-position:-16px -44px;} 
#mcts1 .navNextDisabled, #mcts1 .navNextDisabled:hover {background-position:-16px 0; cursor:default;} 

#mcts1 .navPause, #mcts1 .navPlay {left:53%;top:105%;}
#mcts1 .navPause {background-position:0 -66px;} 
#mcts1 .navPause:hover {background-position:0 -88px;} 
#mcts1 .navPlay {background-position:-16px -66px;} 
#mcts1 .navPlay:hover {background-position:-16px -88px;} 
.navPrev, .navPlay, .navPause, .navNext{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
}
